@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Primeira Pagina</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Construind Web com asp.core 6</a>.</p>
</div>
